/* your styles go here */

h3,
.h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

#heading-breadcrumbs {
  background: url('../img/texture-green.png') center center repeat;
  padding: 20px 0;
  margin-bottom: 40px;
}
  
.bar.background-pentagon {
  background: url('../img/texture-green.png') center center repeat;
  border-top: solid 1px #999999;
  border-bottom: solid 1px #999999;
}

.jumbotron {
  padding: 30px;
  margin-bottom: 0;
  position: relative;
  background: url('../img/bg_small.jpg') center center repeat fixed;
  background-size: cover;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.jumbotron .dark-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #6aae7a;
  opacity: 0.1;
  filter: alpha(opacity=90);
}

.home-carousel {
  position: relative;
  background: url('../img/bg_small.jpg') center center repeat fixed;
  background-size: cover;
  height: 94vh;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.home-carousel .dark-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 94vh;
  background: #6aae7a;
  opacity: 0.1;
  filter: alpha(opacity=90);
}

.home-carousel h1,
.home-carousel h2,
.home-carousel h3,
.home-carousel p,
.home-carousel ul {
  color: #000;
  margin: 20px 50px 10px 50px;
  text-align: center;
}

/*
.home-carousel h2,
.home-carousel h3,
.home-carousel p,
.home-carousel ul {
    text-transform: none;
}
*/

.home-carousel p {
  margin: 25px 50px 150px 50px;
}

section,
div.section {
  margin-bottom: 0;
}

a.heading {
    color: #0a4719;
    
}
a.heading:link {
    color: #0a4719;
    text-decoration: underline;
}
a.heading:hover {
    color: #26a845;
}
a.heading:visited {
    color: #0a4719;
    text-decoration: underline;
}
a.heading:active {
    color: #0a4719;
    text-decoration: underline;
}

div#content {
    margin-bottom: 50px;
}


/* tiny screens */
@media (max-width: 359px) {

    .owl-item {
        margin-top: 15px;
        margin-bottom: 50px;
    }
    .home-carousel h1,
    .home-carousel h2,
    .home-carousel h3,
    .home-carousel p,
    .home-carousel ul {
        color: #000;
        margin: 20px 15px 10px 15px;
        text-align: center;
    }
    .home-carousel h1 {
        font-size: 26px;
        margin-bottom: 50px;
    }
    .home-carousel h2 {
        font-size: 20px;
        margin-bottom: 40px;
        
    }
    .home-carousel h3 {
        font-size: 18px;
    }
    .home-carousel {
      background: url('../img/bg_small.jpg') center center repeat fixed;
      background-size: cover;
    }
    
    .jumbotron {
        background: url('../img/bg_small.jpg') center center repeat fixed;
    }
    .contact { 
        margin-top: 10px !important;
    }
}


/* Small screens */
@media (min-width: 360px) and (max-width: 767px) {
	
	.home-carousel .owl-carousel {
		padding-top: 30px;
		padding-bottom: 20px;
	}
	
    .owl-item {
        margin-top: 10px;
        margin-bottom: 70px;
    }
    .home-carousel h1,
    .home-carousel h2,
    .home-carousel h3,
    .home-carousel p,
    .home-carousel ul {
        color: #000;
        margin: 20px 15px 10px 15px;
        text-align: center;
    }
    .home-carousel h1 {
        font-size: 30px;
        margin-bottom: 50px;
    }
    .home-carousel h2 {
        font-size: 24px;
        margin-bottom: 40px;
    }
    .home-carousel h3 {
        font-size: 20px;
    }
    .home-carousel {
      background: url('../img/bg_small.jpg') center center repeat fixed;
      background-size: cover;
    }
    .jumbotron {
        background: url('../img/bg_small.jpg') center center repeat fixed;
    }
    .contact { 
        margin-top: 10px !important;
    }
}


/* Wide screen */
@media(min-width:992px) {
    .owl-item {
        margin-top: 100px;
        margin-bottom: 300px;
    }
    .home-carousel h1 {
        margin-bottom: 100px;
    }
    .home-carousel h2 {
        margin-bottom: 50px;
        font-size: 36px;
    }
    
    /*.tg {
        width: auto !important;
        max-width: 100%;
    }
    .tg col {
        width: auto !important;
    }
    .tg-wrap {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;*/
    }
    .contact { 
        margin-top: 50px;
    }
}

/* Mid size screen */
@media (min-width: 768px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-y: visible;
  }
  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
    .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
    line-height: 100%;
  }
  .navbar-nav > li > a {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .navbar-nav.navbar-right:last-child {
    margin-right: -5px;
  }
  
    .home-carousel h1,
    .home-carousel h2,
    .home-carousel h3,
    .home-carousel p,
    .home-carousel ul {
        color: #000;
        margin: 20px 15px 10px 15px;
        text-align: center;
    }
    .owl-item {
        margin-top: 150px;
        margin-bottom: 150px;
    }
    .home-carousel h1 {
        margin-bottom: 100px;
    }
    .home-carousel h2 {
        margin-bottom: 150px;
        font-size: 30px !important;
    }
    
    .tg {
        width: auto !important;
        max-width: 100%;
    }

    .tg col {
        width: auto !important;
        
    }
    .tg-wrap {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    .contact { 
        margin-top: 10px !important;
    }
  
}
.navbar-fixed-top .navbar-collapse,
.navbar-affixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
  max-height: 500px;
}


.icon {
  display: inline-block;
  width: 80px;
  height: 80px;
  color: #fff;
  line-height: 80px;
  border-radius: 40px;
  border: solid 0px #fff;
  font-size: 20px;
}
.icon.icon-lg {
  font-size: 30px;
  border-width: 0px;
}

/*
.testimonials .item .testimonial .bottom .icon {
  color: #6aae7a;
  font-size: 30px;
  position: absolute; 
  
  width: 20%;
}
*/

.testimonials .item .testimonial .name-picture p {
  color: #999999;
  margin: 0;
  bottom: -45px;
  right: 90px;
  position: absolute;
  font-size: 12px;
}

/*
.bar.background-image-fixed-2 {
  background: url('../img/fixed-background-2.jpg') center top no-repeat;
  background-attachment: fixed;
  background-size: cover;
} */

table {
    border-collapse: collapse;
	border: 0.5px solid #999;
	min-width: 40%;
}

th {
	background-color: #acd2b5; /* or #6aae7a? */
    color: black;
	/*width: 100px;*/
}

th, td {
    border: 0.5px solid #999;
	padding: 5px;
}

.clickable {
    cursor: pointer !important;
    color: #059126;
}

/*
tr:nth-child(even) {background-color: #f2f2f2;}
*/

.cll {
    min-width: 100%;  

/*td:nth-child(1) {
  text-align: left;*/
}

/* For images on the travel page */

.responsive {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.sponsors {
    width: 100%;
    max-width: 400px;
    height: auto;
	display: block;
    margin-left: auto;  /* Change to 20% to move left */
    margin-right: auto;
    text-align: center;
}

.sponsors-smaller {
    width: 100%;
    max-width: 300px;
    height: auto;
	display: block;
    margin-left: auto;  /* Change to 20% to move left */
    margin-right: auto;
    text-align: center;
}

.sponsors-text {
    width: 100%;
    height: auto;
	display: block;
    margin-left: auto;  /* Change to 20% to move left */
    margin-right: auto;
    text-align: center;
}

.btn-template-main-big {
  font-weight: 100;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 2em;
  border-radius: 0;
  background: #6aae7a;
  color: #ffffff;
  border-color: #6aae7a;
}

.btn-template-main-big:hover,
.btn-template-main-big:focus,
.btn-template-main-big:active,
.btn-template-main-big.active {
  color: #6aae7a;
  background: #ffffff;
  border-color: #6aae7a;
}

.owl-theme .owl-controls .owl-buttons div {
  width: 0;
  height: 0;
  line-height: 25px;
  margin: 0 5px 0 0;
  font-size: 18px;
  color: #6aae7a;
  padding: 0;
  background: #fff;
  border-radius: 13px;
  vertical-align: middle;
  text-align: center;
  opacity: 1;
  filter: alpha(opacity=100);
}

.img-responsive-sponsor {
    width: 100%;
    max-height: 120px;
    width: auto;
	max-width: 170px;
}

.responsive-speaker {
    /*width: 100%;*/
    max-height: 200px;
    width: auto;
	max-width: 200px;
	float: right;
	overflow: auto;
    margin: 5px;
}

iframe {
    width: 100%;
    height: 1475px;
    margin: 0 auto;
	display: block;
}

.tg  {
    border-collapse:collapse;
    border-spacing:0;
    color:#000000;
    border-color:inherit;
    max-width: 100%;
}

.tg td{
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:black;
}
.tg th{
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:black;
}
.tg .tg-c3ow{
    text-align:center;
    /*vertical-align:middle;*/
}

.tg .tg-rbmo{
    color:#000000;
    background-color:#aabcfe;
    text-align:center;
    vertical-align:top
}

.tg .tg-0pky{
    text-align:left;
    vertical-align:top
    position: absolute;
}

.tg .tg-elvq{
    color:#000000;
    background-color:#fffc9e;
    text-align:center;
    vertical-align:top
}

.tg .tg-tu0f{
    color:#000000;
    background-color:#6aae7a;
    text-align:center;
    vertical-align:top
}

.tg .tg-smvl{
    color:#000000;
    background-color:#fd6864;
    text-align:left;
    vertical-align:top
}

.tg .tg-qs5d {
    color:#000000;
    background-color:#ac95d4;
    text-align:center;
    vertical-align:top
}

.tg .tg-0lax {
    color:#000000;
    text-align:center;
    vertical-align:top
}

.tg .tg-og4q {
    color:#000000;
    background-color:#fd6864;
    text-align:center;
    vertical-align:top
}

.tg .tg-og4h {
    color:#000000;
    background-color:#facb96;
    text-align:center;
    vertical-align:top
}



.addeventatc:hover {
    background-color: #6aae7a !important;
    color: #fff !important;
}

.alpha-list ol {
    list-style-type: lower-alpha;
}

.videoInsert {
/*    min-width: 100%; 
    min-height: 100%;*/
    width: 100%; 
    height: 100%; 
    z-index: -100;
    background-size: cover;
    overflow: hidden;
}

.media-image {
    border: black;
    border-style: solid;
    border-width: thin;
}


.btn-xl {
  padding: 14px 20px;
  font-size: 20px;
  line-height: 1.33;
  border-radius: 0;
}

