<section class="bar background-white">
    <div class="container">
        <center><h2>{{ .Site.Params.features.title }}</h2></center>
        <br>

		<div class="col-md-12">
            <div class="row">
				<div class="col-md-6">
                    <div class="box-simple">
                        <script src="https://fast.wistia.com/embed/medias/7isiuh2aa9.jsonp" async defer></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async defer></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_7isiuh2aa9 videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/7isiuh2aa9/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>
                        <h3><a href="/speakers/">Keynote Speakers</a></h3>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box-simple">
                        <script src="https://fast.wistia.com/embed/medias/l8xfpriwmr.jsonp" async defer></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async defer></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_l8xfpriwmr videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/l8xfpriwmr/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>
                        <h3><a href="/workshops/">Pre-conference Workshops</a></h3>
                    </div>
                </div>
		       <!--- <div class="col-md-6">
                    <div class="box-simple">
                    
                        <a href="/school-posters" aria-label="Click here for more information about the school poster competition">
                            <picture>
                                <source type="image/webp" srcset="data/School_Poster_Flyer.webp" width="100%" height="100%" alt="School Poster Competition flyer">
				                <source type="image/jpeg" srcset="data/School_Poster_Flyer.jpg" width="100%" height="100%" alt="School Poster Competition flyer">
				                <img src="data/School_Poster_Flyer.jpg" width="100%" height="100%" alt="School Poster Competition flyer" />
                            </picture>
                        </a>
                    
                        <h3><a href="/school-posters">School Poster Competition</a></h3>
                        <p></p>
                    </div>
                </div>-->
			</div>
		</div>
        
        <div class="row">
            <div class="col-md-12">
                <p class="text-center">
                 <!---<br><a href="/registration/" class="btn btn-template-main btn-xl">Register Now</a>-->
                 <h2 class="text-center">Welcome to the conference!</h2>
                 <h4 class="text-center">See photos of the conference and speakers here</h4>
                 <h4 class="text-center"><a href="/photos/">Photos</a></h4>
                </p>
            </div>
        </div>
    </div>
   
</section>
